---
import ExperienceEntry from './ExperienceEntry.astro';
---

<section id='journey'>
  <h2>My Journey</h2>
  <ExperienceEntry
    title='Software Engineer'
    company='Company Name'
    date='2023 - Present'
    location='Budapest, Hungary'
  >
    <li>Placeholder responsibility</li>
  </ExperienceEntry>
</section>
