---
import astroDark from '@/assets/tech-stacks/astro-dark-bg.svg';
import astroLight from '@/assets/tech-stacks/astro-light-bg.svg';
import css3 from '@/assets/tech-stacks/css3.svg';
import html5 from '@/assets/tech-stacks/html5.svg';
import nextjsDark from '@/assets/tech-stacks/nextjs-dark-bg.svg';
import nextjsLight from '@/assets/tech-stacks/nextjs-light-bg.svg';
import reactDark from '@/assets/tech-stacks/react-dark-bg.svg';
import reactLight from '@/assets/tech-stacks/react-light-bg.svg';
import tailwindcss from '@/assets/tech-stacks/tailwindcss.svg';
import tanstack from '@/assets/tech-stacks/tanstack.png';
import typescript from '@/assets/tech-stacks/typescript.svg';
import SectionTitle from '@/components/ui/SectionTitle.astro';

import TechItem from './TechItem.astro';

const techs = [
  {
    name: 'HTML5',
    description: 'Markup Language',
    href: 'https://developer.mozilla.org/en-US/docs/Web/HTML',
    icon: html5,
  },
  {
    name: 'CSS3',
    description: 'Styling Language',
    href: 'https://developer.mozilla.org/en-US/docs/Web/CSS',
    icon: css3,
  },
  {
    name: 'TypeScript',
    description: 'Typed JavaScript',
    href: 'https://www.typescriptlang.org',
    icon: typescript,
  },
  {
    name: 'Tailwind',
    description: 'Utility-First CSS',
    href: 'https://tailwindcss.com',
    icon: tailwindcss,
  },
  {
    name: 'TanStack',
    description: 'Headless Utilities',
    href: 'https://tanstack.com',
    icon: tanstack,
  },
  {
    name: 'React',
    description: 'UI Library',
    href: 'https://react.dev',
    icon: reactLight,
    darkIcon: reactDark,
  },
  {
    name: 'Next.js',
    description: 'React Framework',
    href: 'https://nextjs.org',
    icon: nextjsLight,
    darkIcon: nextjsDark,
  },
  {
    name: 'Astro',
    description: 'Web Framework',
    href: 'https://astro.build',
    icon: astroLight,
    darkIcon: astroDark,
  },
];
---

<section id='tech-stack' class='@container'>
  <SectionTitle>TECHNOLOGIES</SectionTitle>
  <div>
    <div
      class='
        grid grid-cols-1 gap-4
        @md:grid-cols-2
        @4xl:grid-cols-4
      '
    >
      {techs.map((tech) => <TechItem {...tech} />)}
    </div>
  </div>
</section>
