---
import Separator from '@/components/starwind/separator';
import LastCommitInfo from '@/components/ui/last-commit-info';
import ToolsAndInspirations from '@/components/ui/tools-and-inspirations';

const currentYear = new Date().getFullYear();
---

<footer class='@container rounded-md bg-footer'>
  <div
    class='
      flex flex-col items-center justify-between p-2.5
      @xl:flex-row
    '
  >
    <div
      class='
        flex flex-col items-center
        @xl:@max-4xl:items-start
        @4xl:flex-row
      '
    >
      <p class='mx-3.5 text-muted-foreground'>
        &copy; {currentYear} Hareki
      </p>
      <Separator
        orientation='vertical'
        class='
          mx-2 hidden h-6
          @4xl:block
        '
      />
      <ToolsAndInspirations />
    </div>

    <Separator class='
      mt-2 mb-4.25 w-[80%]
      @xl:hidden
    ' />

    <LastCommitInfo />
  </div>
</footer>
