---
import SocialLinks from '@/components/SocialLinks.astro';
const currentYear = new Date().getFullYear();
---

<footer class='
  flex items-center justify-between rounded-md bg-surface-0 p-4 py-2
'>
  <p>&copy; {currentYear} Hareki</p>
  <div class='flex items-center gap-4'>
    <!-- Stats placeholder -->
    <SocialLinks variant='icons' />
    <!-- Credits button placeholder -->
  </div>
</footer>
