---
import GitCommitIcon from '@tabler/icons/outline/git-commit.svg';
import HeartIcon from '@tabler/icons/outline/heart.svg';

import Button from '@/components/starwind/button';
import Separator from '@/components/starwind/separator';

const currentYear = new Date().getFullYear();
const lastCommitHash = 'f5edd97';
---

<footer
  class='
    @container flex items-center justify-between rounded-md bg-footer px-2
    py-1.5
    xs:px-4 xs:py-2.5
  '
>
  <div class='flex items-center'>
    <p class='pr-4 text-muted-foreground'>&copy; {currentYear} Hareki</p>
    <Separator orientation='vertical' class='mx-2 h-6' />
    <Button variant='ghost'>
      <HeartIcon />
      <span>Made Possible By</span></Button
    >
  </div>

  <div class='flex items-center'>
    <p class='pr-4 text-muted-foreground'>Updated 7 Mar 2026</p>
    <Separator orientation='vertical' class='mx-2 h-6' />
    <Button
      variant='ghost'
      href='https://github.com'
      target='_blank'
      rel='noopener noreferrer'
    >
      <GitCommitIcon class='rotate-90' />
      <span>
        {lastCommitHash}
      </span>
    </Button>
  </div>
</footer>
