---
import SocialLinks from '@/components/SocialLinks.astro';
const currentYear = new Date().getFullYear();
---

<footer class='flex items-center justify-between rounded-md bg-footer p-6 py-3'>
  <p>&copy; {currentYear} Hareki</p>
  <div class='flex items-center gap-4'>
    <!-- Stats placeholder -->
    <SocialLinks variant='icons' />
    <!-- Credits button placeholder -->
  </div>
</footer>
