---
import ThemePanel from '@/components/ThemePanel.astro';
---

<div class='sticky top-0 z-10 bg-background pt-4'>
  <header class='
    bg-surface-0 flex items-center justify-between rounded-md px-4 py-2
  '>
    <a href='/' class='font-bold'>Hareki</a>
    <nav class='flex items-center gap-6'>
      <ThemePanel />
    </nav>
  </header>
</div>
