---
import { tv } from 'tailwind-variants';

import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'p'>;

export const dialogDescription = tv({ base: 'text-muted-foreground' });

const { class: className, ...rest } = Astro.props;
---

<p class={dialogDescription({ class: className })} {...rest} data-slot='dialog-description'>
  <slot />
</p>
