---
import BriefcaseIcon from '@tabler/icons/outline/briefcase.svg';
import MapPinIcon from '@tabler/icons/outline/map-pin.svg';

import {
  getLanguageStatsSummary,
  getLastCommitInfo,
  getRecentCommitDetails,
} from '@/lib/git';
const test = await getRecentCommitDetails(5);
const test2 = await getLastCommitInfo();
const test3 = getLanguageStatsSummary(test);

console.log({ test, test2, test3 });
---

<section id='hero'>
  <div class='space-y-5'>
    <h1 class='
      text-3xl font-bold
      md:text-4xl
    '>
      Hey! I'm <span class='text-primary'>Tu "Hareki" Nguyen</span>
    </h1>
    <div class='flex flex-wrap gap-6'>
      <div class='flex items-center gap-1.5 text-xl text-subtext1-foreground'>
        <BriefcaseIcon class='size-5' />
        <span>Frontend Engineer</span>
      </div>

      <div class='flex items-center gap-1.5 text-xl text-subtext1-foreground'>
        <MapPinIcon class='size-5' />
        <span>HCMC, Vietnam</span>
      </div>
    </div>
    <p class='max-w-prose text-lg/relaxed text-subtext0-foreground'>
      I craft accessible, pixel-perfect interfaces and engaging user
      experiences, with a deep focus on performance and attention to detail.
      Neovim power user with a Glove80.
    </p>
  </div>
</section>
