---
import Avatar from './Avatar.astro';
import HeroIntro from './HeroIntro.astro';
import LocationBadge from './LocationBadge.astro';
import SocialLinks from '@/components/SocialLinks.astro';
---

<section id='hero'>
  <div>
    <HeroIntro />
    <LocationBadge />
    <SocialLinks variant='full' />
  </div>
  <Avatar />
</section>
