---
import { Image } from 'astro:assets';
import { cn } from 'tailwind-variants';

import Button from '@/components/starwind/button';
import {
  Popover,
  PopoverContent,
  PopoverTrigger,
} from '@/components/starwind/popover';
import ItemContent from '@/components/ui/ItemContent.astro';
import SectionTitle from '@/components/ui/SectionTitle.astro';
import { EXPERIENCE } from '@/data/experience';
import { getShortFormattedDate } from '@/utils/date';
---

<section id='work-history' class='@container'>
  <SectionTitle>EXPERIENCE</SectionTitle>

  <div
    class='
      grid grid-cols-1 gap-4
      @md:grid-cols-2
      @4xl:grid-cols-4
    '
  >
    {
      EXPERIENCE.map((record) => (
        <div>
          <Popover>
            <PopoverTrigger asChild>
              <Button
                variant='ghost'
                class={cn('group h-auto w-full justify-start gap-3 p-3')}
              >
                <ItemContent
                  name={record.name}
                  description={`${getShortFormattedDate(record.startDate)} - ${record.endDate ? getShortFormattedDate(record.endDate) : 'Present'}`}
                  popoverIndicator={{
                    orientation: 'down',
                  }}
                >
                  <Image
                    slot='icon'
                    class='rounded-full muted-icon'
                    src={record.logo}
                    width={40}
                    height={40}
                    alt={`${record.name} logo`}
                  />
                </ItemContent>
              </Button>
            </PopoverTrigger>
            <PopoverContent>My work history detail goes here</PopoverContent>
          </Popover>
        </div>
      ))
    }
  </div>
</section>
