---
import { Popover } from '@/components/starwind/popover';
import SectionTitle from '@/components/ui/SectionTitle.astro';
import StandaloneLink from '@/components/ui/StandaloneLink.astro';
import ContactInformation from '@/data/contact-information';
import { EXPERIENCE } from '@/data/experience';

import ExperiencePopoverContent from './ExperiencePopoverContent.astro';
import ExperiencePopoverTrigger from './ExperiencePopoverTrigger.astro';
---

<section id='work-history' class='@container'>
  <SectionTitle>EXPERIENCE</SectionTitle>

  <div
    class='
      mb-2 grid grid-cols-1 gap-3
      @md:grid-cols-2
      @2xl:grid-cols-3
      @4xl:grid-cols-4
    '
  >
    {
      EXPERIENCE.map((record) => (
        <div>
          <Popover class='group'>
            <ExperiencePopoverTrigger record={record} />
            <ExperiencePopoverContent record={record} />
          </Popover>
        </div>
      ))
    }
  </div>
  <StandaloneLink class='ml-3' href={ContactInformation.RESUME_URL}>
    View Full Résumé
  </StandaloneLink>
</section>
