---
import { Popover } from '@/components/starwind/popover';
import SectionTitle from '@/components/ui/SectionTitle.astro';
import { EXPERIENCE } from '@/data/experience';

import ExperiencePopoverContent from './ExperiencePopoverContent.astro';
import ExperiencePopoverTrigger from './ExperiencePopoverTrigger.astro';
---

<section id='work-history' class='@container'>
  <SectionTitle>EXPERIENCE</SectionTitle>

  <div
    class='
      grid grid-cols-1 gap-4
      @md:grid-cols-2
      @4xl:grid-cols-4
    '
  >
    {
      EXPERIENCE.map((record) => (
        <div>
          <Popover class='group'>
            <ExperiencePopoverTrigger record={record} />
            <ExperiencePopoverContent record={record} />
          </Popover>
        </div>
      ))
    }
  </div>
</section>
