---
import SectionTitle from '@/components/ui/SectionTitle.astro';

import TerminalSection from './terminal-section/TerminalSection.astro';
import TypingSection from './typing-section/TypingSection.astro';
---

<section id='beyond-work'>
  <SectionTitle class='mb-3'>BEYOND WORK</SectionTitle>
  <div class='space-y-8'>
    <TypingSection />
    <TerminalSection />
  </div>
</section>
