---
import { tv } from 'tailwind-variants';

import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'h3'>;

export const popoverTitle = tv({
  base: 'mb-1 text-xs font-bold text-subtext0-foreground',
});

const { class: className, ...rest } = Astro.props;
---

<h3
  class={popoverTitle({ class: className })}
  {...rest}
  data-slot='popover-title'
>
  <slot />
</h3>
