---
import TerminalIcon from '@tabler/icons/outline/terminal-2.svg';

import BoxSection from '@/components/ui/box-section';
import BoxSectionDescription from '@/components/ui/box-section/BoxSectionDescription.astro';
import BoxSectionTitle from '@/components/ui/box-section/BoxSectionTitle.astro';
import InlineLink from '@/components/ui/InlineLink.astro';
import RepoSummary from '@/components/ui/repo-summary';
import { BeyondWorkLink } from '@/data/beyond-work';
---

<section id='beyond-work-terminal'>
  <BoxSection>
    <BoxSectionTitle icon={TerminalIcon}>Terminal</BoxSectionTitle>
    <BoxSectionDescription>
      My editor of choice is <InlineLink href={BeyondWorkLink.NEOVIM}>
        Neovim
      </InlineLink>, deeply integrated with my terminal workflow. Summary of my
      <InlineLink href={BeyondWorkLink.DOTFILES}>dotfiles</InlineLink> below.
    </BoxSectionDescription>

    <RepoSummary repoFullName={BeyondWorkLink.DOTFILES_FULL_NAME} />
  </BoxSection>
</section>
