---
import TerminalIcon from '@tabler/icons/outline/terminal-2.svg';

import BoxSection from '@/components/ui/box-section';
import BoxSectionDescription from '@/components/ui/box-section/BoxSectionDescription.astro';
import BoxSectionTitle from '@/components/ui/box-section/BoxSectionTitle.astro';
import InlineLink from '@/components/ui/InlineLink.astro';
import InnerBox from '@/components/ui/InnerBox.astro';
import RecentCommits from '@/components/ui/recent-commits';
import { BeyondWorkLink } from '@/data/beyond-work';
---

<section id='beyond-work-terminal'>
  <BoxSection>
    <BoxSectionTitle icon={TerminalIcon}>Terminal</BoxSectionTitle>
    <BoxSectionDescription class='mb-4'>
      My editor of choice is <InlineLink href={BeyondWorkLink.NEOVIM}>
        Neovim
      </InlineLink>, deeply integrated with my terminal workflow. Recent commits
      from my
      <InlineLink href={BeyondWorkLink.DOTFILES}>dotfiles</InlineLink> below.
    </BoxSectionDescription>

    <RecentCommits repoFullName={BeyondWorkLink.DOTFILES_FULL_NAME} limit={5} />
  </BoxSection>
</section>
