---
import NeovimPassion from './NeovimPassion.astro';
import RecentCommits from './RecentCommits.astro';
import TypingPassion from './TypingPassion.astro';
---

<section id='passions'>
  <h2>Passions</h2>
  <div class='grid gap-4'>
    <TypingPassion />
    <NeovimPassion />
    <RecentCommits />
  </div>
</section>
