---
import GitCommitIcon from '@tabler/icons/outline/git-commit.svg';

import Button from '@/components/starwind/button';
import NewTabIndicator from '@/components/ui/NewTabIndicator.astro';
import { getLastCommitInfo, getShortenCommitHash } from '@/lib/github';
import { getFormattedDate } from '@/utils/date';

import Layout from './Layout.astro';

Astro.cache.set({
  maxAge: 900, // 15 minutes
  swr: 60, // serve stale for 1 min while revalidating
});

const lastCommitInfo = await getLastCommitInfo();

const lastUpdatedDate = lastCommitInfo
  ? getFormattedDate(new Date(lastCommitInfo.createdAt))
  : null;

const shortenCommitHash = lastCommitInfo
  ? getShortenCommitHash(lastCommitInfo.hash)
  : null;
---

{
  lastCommitInfo && (
    <Layout>
      <p class='mx-3.5 text-muted-foreground' slot='last-updated-date'>
        Updated on {lastUpdatedDate}
      </p>

      <Button
        variant='ghost'
        class='group relative w-fit'
        href={lastCommitInfo.url}
        target='_blank'
        rel='noopener noreferrer'
        slot='commit-hash-button'
      >
        <GitCommitIcon class='rotate-90' />
        <span>{shortenCommitHash}</span>

        <NewTabIndicator />
      </Button>
    </Layout>
  )
}

{
  !lastCommitInfo && (
    <p class='mx-3.5 text-muted-foreground' slot='last-updated-date'>
      Unable to fetch last commit info
    </p>
  )
}
