@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Maple Mono;
  font-display: swap;
  src:
    local('Maple Mono NF Regular'),
    local('Maple Mono Regular'),
    url(../assets/fonts/MapleMonoNL-Regular.woff2) format('woff2');
}

@font-face {
  font-weight: 500;
  font-style: medium;
  font-family: Maple Mono;
  font-display: swap;
  src:
    local('Maple Mono NF Medium'),
    local('Maple Mono Medium'),
    url(../assets/fonts/MapleMonoNL-Medium.woff2) format('woff2');
}

@font-face {
  font-weight: 700;
  font-style: bold;
  font-family: Maple Mono;
  font-display: swap;
  src:
    local('Maple Mono NF Bold'),
    local('Maple Mono Bold'),
    url(../assets/fonts/MapleMonoNL-Bold.woff2) format('woff2');
}
