---
import BaseSkeleton from '@/components/starwind/skeleton/Skeleton.astro';

interface Props {
  commitLimit: number;
}

const { commitLimit } = Astro.props;
---

<div>
  <BaseSkeleton
    data-repo-summary-skeleton
    class='w-full'
    style='height:var(--summary-skeleton-height)'
  />

  <!-- 
  HACK: It's fragile, but it's pixel perfect to the actual content height 
  meaning no layout shift between skeleton and content 

  NOTE: I believe there's a bug with returning multiple tags and using server islands, 
  causing the skeleton not to get cleaned up after the content has arrived.
-->

  <style define:vars={{ commitLimit }}>
    [data-repo-summary-skeleton] {
      --summary-skeleton-height: calc(11.875rem + 2rem * var(--commitLimit));
    }

    @container (min-width: 31.875rem) {
      [data-repo-summary-skeleton] {
        --summary-skeleton-height: calc(9.875rem + 2rem * var(--commitLimit));
      }
    }

    @container (min-width: 44.813rem) {
      [data-repo-summary-skeleton] {
        --summary-skeleton-height: calc(6rem + 2rem * var(--commitLimit));
      }
    }
  </style>
</div>
