---
import BeyondWorkSection from '@/components/sections/beyond-work-section';
import GeneralSection from '@/components/sections/general-section';
import WorkSection from '@/components/sections/work-section';
import MainLayout from '@/layouts/main-layout';
---

<MainLayout>
  <div class='space-y-8'>
    <GeneralSection />
    <WorkSection />
    <BeyondWorkSection />
  </div>
</MainLayout>
