---
import MainLayout from '@/layouts/main-layout/index.astro';
import HeroSection from '@/components/sections/hero/HeroSection.astro';
import TechStackSection from '@/components/sections/tech-stack/TechStackSection.astro';
import JourneySection from '@/components/sections/journey/JourneySection.astro';
import PassionsSection from '@/components/sections/passions/PassionsSection.astro';
---

<MainLayout>
  <main>
    <HeroSection />
    <TechStackSection />
    <JourneySection />
    <PassionsSection />
  </main>
</MainLayout>
