@custom-variant dark (&:where(
  .ctp-flavor-frappe, .ctp-flavor-frappe *,
  .ctp-flavor-macchiato, .ctp-flavor-macchiato *,
  .ctp-flavor-mocha, .ctp-flavor-mocha *
));

@custom-variant hocus (&:hover, &:focus-visible);

:root {
  --radius: 0.625rem;
}

@theme inline {
  --font-display:
    'Maple Mono', -apple-system /* macOS/iOS Safari */,
    BlinkMacSystemFont /* macOS Chrome */, 'Segoe UI' /* Windows */,
    'Ubuntu' /* Ubuntu Linux */, 'Noto Sans' /* other Linux (GNOME) */,
    sans-serif; /* universal fallback */

  --ease-overshoot: linear(
    0,
    0.402 7.4%,
    0.711 15.3%,
    0.929 23.7%,
    1.008 28.2%,
    1.067 33%,
    1.099 36.9%,
    1.12 41%,
    1.13 45.4%,
    1.13 50.1%,
    1.111 58.5%,
    1.019 83.2%,
    1.004 91.3%,
    1
  );
  --breakpoint-xs: 30rem;
  --spacing-popup-section: --spacing(6);

  --color-background: var(--ctp-base);
  --color-foreground: var(--ctp-text);

  --color-card: var(--ctp-mantle);
  --color-card-foreground: var(--ctp-text);

  --color-popover: var(--ctp-surface0);

  --color-primary: var(--ctp-accent);
  --color-primary-foreground: var(--ctp-base);
  --color-primary-accent: var(--ctp-accent);

  --color-secondary: var(--ctp-surface1);
  --color-secondary-foreground: var(--ctp-text);
  --color-secondary-accent: var(--ctp-text);
  --color-secondary-focus: var(--ctp-overlay2);

  --color-muted: var(--ctp-mantle);
  --color-muted-foreground: var(--ctp-overlay1);

  --color-accent: var(--ctp-surface0);
  --color-accent-foreground: var(--ctp-text);

  --color-info: var(--ctp-sky);
  --color-info-foreground: var(--ctp-base);

  --color-success: var(--ctp-green);
  --color-success-foreground: var(--ctp-base);

  --color-warning: var(--ctp-yellow);
  --color-warning-foreground: var(--ctp-base);

  --color-error: var(--ctp-red);
  --color-error-foreground: var(--ctp-base);

  --color-border: var(--ctp-surface0);
  --color-input: var(--ctp-surface0);
  --color-outline: var(--ctp-overlay0);

  --radius-xs: calc(var(--radius) - 0.375rem);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --radius-2xl: calc(var(--radius) + 0.5rem);
  --radius-3xl: calc(var(--radius) + 1rem);

  --color-footer: var(--ctp-crust);
}
