@utility flex-center {
  @apply flex items-center justify-center;
}

@utility bouncy-click {
  @apply hocus:scale-[105%] active:scale-100!;
  --duration: 0.35s;

  transition:
    scale var(--duration) var(--ease-overshoot),
    background-color var(--duration) ease-in-out,
    color var(--duration) ease-in-out !important;
}

@utility muted-icon {
  @apply light:opacity-90 opacity-75 grayscale-25 duration-350 group-hocus:opacity-100 group-hocus:grayscale-0;
}

@utility scrollbar-* {
  scrollbar-color: --value(--color-*, [color]) transparent;
}
