@utility flex-center {
  @apply flex items-center justify-center;
}

@utility bouncy-click {
  @apply hocus:scale-[105%] active:scale-100!;
  --duration: 0.4s;

  transition:
    scale var(--duration) var(--ease-overshoot),
    background-color var(--duration) ease-in-out,
    color var(--duration) ease-in-out !important;
}

@utility scrollbar-* {
  scrollbar-color: --value(--color-*, [color]) transparent;
}
