---
import Button from '@/components/starwind/button';
import { Tooltip, TooltipContent, TooltipTrigger } from '@/components/starwind/tooltip';

import type { HTMLAttributes, SvgComponent } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'type'> {
  icon: SvgComponent;
  label: string;
}

const { icon: Icon, label, ...rest } = Astro.props;
---

<Tooltip>
  <TooltipTrigger>
    <Button class='md:hidden' variant='ghost' size='icon-sm' {...rest}>
      <Icon class='size-6' />
    </Button>
    <Button
      class='
        hidden
        md:inline-flex
      '
      variant='ghost'
      size='sm'
      {...rest}
    >
      <Icon class='size-5' />
      {label}
    </Button>
  </TooltipTrigger>
  <TooltipContent class='md:hidden'>{label}</TooltipContent>
</Tooltip>
