---
import Button from '@/components/starwind/button';
import { Tooltip, TooltipContent, TooltipTrigger } from '@/components/starwind/tooltip';

import type { HTMLAttributes, SvgComponent } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'type'> {
  icon: SvgComponent;
  label: string;
}

const { icon: Icon, label, ...rest } = Astro.props;
---

<Tooltip>
  <TooltipTrigger>
    <Button class='md:w-auto md:px-3' variant='ghost' size='icon-sm' {...rest}>
      <Icon class='
        size-6
        md:size-5
      ' />
      <span class='
        hidden
        md:inline
      '>{label}</span>
    </Button>
  </TooltipTrigger>
  <TooltipContent class='md:hidden'>{label}</TooltipContent>
</Tooltip>
