---
import { cn } from 'tailwind-variants';

import Button from '@/components/starwind/button';
import {
  Tooltip,
  TooltipContent,
  TooltipTrigger,
} from '@/components/starwind/tooltip';

import type { HTMLAttributes, SvgComponent } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'type'> {
  icon: SvgComponent;
  label: string;
}

const { icon: Icon, label, class: className, ...rest } = Astro.props;
---

<Tooltip>
  <TooltipTrigger>
    <Button
      variant='ghost'
      size='icon'
      class={cn('@3xl:hidden', className)}
      {...rest}
    >
      <Icon />
    </Button>

    <Button variant='ghost' class='
      hidden
      @3xl:inline-flex
    ' {...rest}>
      <Icon />
      <span>{label}</span>
    </Button>
  </TooltipTrigger>
  <TooltipContent class='@3xl:hidden'>{label}</TooltipContent>
</Tooltip>
