---
import { cn } from 'tailwind-variants';

import Button from '@/components/starwind/button';
import {
  Tooltip,
  TooltipContent,
  TooltipTrigger,
} from '@/components/starwind/tooltip';

import type { HTMLAttributes, SvgComponent } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'type'> {
  icon: SvgComponent;
  label: string;
}

const { icon: Icon, label, class: className, ...rest } = Astro.props;
---

<Tooltip>
  <TooltipTrigger>
    <!-- Set to size='md' when container size is greater than @3xl, the 2-buttons hack have too many drawbacks and side effects...  -->
    <Button
      variant='ghost'
      size='icon'
      class={cn('@3xl:w-auto @3xl:px-3.5', className)}
      {...rest}
    >
      <Icon class='@3xl:size-5' />
      <span class='
        hidden
        @3xl:inline
      '>{label}</span>
    </Button>
  </TooltipTrigger>
  <!-- Can't use container query since this component is rendered outside of the container (header) -->
  <TooltipContent class='md:hidden'>{label}</TooltipContent>
</Tooltip>
