---
import Button from '@/components/starwind/button';
import {
  Tooltip,
  TooltipContent,
  TooltipTrigger,
} from '@/components/starwind/tooltip';

import type { HTMLAttributes, SvgComponent } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'type'> {
  icon: SvgComponent;
  label: string;
}

const { icon: Icon, label, ...rest } = Astro.props;
---

<Tooltip>
  <TooltipTrigger>
    <Button class='max-xs:px-3!' variant='ghost' {...rest}>
      <Icon class='
        size-5
        max-md:size-6
      ' />
      <span class='
        hidden text-base
        md:inline
      '>{label}</span>
    </Button>
  </TooltipTrigger>
  <TooltipContent class='md:hidden'>{label}</TooltipContent>
</Tooltip>
