---
interface Props {
  variant: 'full' | 'icons';
}
const { variant } = Astro.props;
---

<div class='flex items-center gap-4'>
  <a href='https://github.com/hareki' target='_blank' rel='noopener noreferrer'>
    {variant === 'full' ? 'GitHub' : 'GH'}
  </a>
  <a href='https://linkedin.com/in/hareki' target='_blank' rel='noopener noreferrer'>
    {variant === 'full' ? 'LinkedIn' : 'LI'}
  </a>
  <a href='https://x.com/harekidev' target='_blank' rel='noopener noreferrer'>
    {variant === 'full' ? 'X / Twitter' : 'X'}
  </a>
</div>
