---
import { GITHUB_URL, LINKEDIN_URL, TWITTER_URL } from '@/consts';

interface Props {
  variant: 'full' | 'icons';
}
const { variant } = Astro.props;
---

<div class='flex items-center gap-4'>
  <a href={GITHUB_URL} target='_blank' rel='noopener noreferrer'>
    {variant === 'full' ? 'GitHub' : 'GH'}
  </a>
  <a href={LINKEDIN_URL} target='_blank' rel='noopener noreferrer'>
    {variant === 'full' ? 'LinkedIn' : 'LI'}
  </a>
  <a href={TWITTER_URL} target='_blank' rel='noopener noreferrer'>
    {variant === 'full' ? 'X / Twitter' : 'X'}
  </a>
</div>
