---
import PaletteIcon from '@tabler/icons/outline/palette.svg';

import Button from '@/components/starwind/button';
import { Tooltip, TooltipContent, TooltipTrigger } from '@/components/starwind/tooltip';
---

<Tooltip>
  <TooltipTrigger>
    <Button variant='ghost' size='icon-sm' class='md:hidden'>
      <PaletteIcon class='size-6' />
    </Button>
    <Button class='
      hidden
      md:inline-flex
    ' variant='ghost' size='sm'>
      <PaletteIcon class='size-5' />
      Theme
    </Button>
  </TooltipTrigger>
  <TooltipContent class='md:hidden'>Theme</TooltipContent>
</Tooltip>
