---
// Catppuccin flavor tabs + accent color grid + background effect toggle
---

<div class='theme-panel'>
  <div class='flex gap-2'>
    <button>Latte</button>
    <button>Frappe</button>
    <button>Macchiato</button>
    <button>Mocha</button>
  </div>
</div>
