---
import DotsIcon from '@tabler/icons/outline/dots.svg';

interface Props {
  original: string;
  transformed: string;
}

const { original, transformed } = Astro.props;
---

<span class='relative inline-flex opacity-75'>
  <span class='
    inline-grid overflow-hidden py-0.5
    *:[grid-area:1/1]
  '>
    <span
      class='
        transition-[opacity,translate]
        group-hocus:-translate-y-full group-hocus:opacity-0
      '
      >{original}</span
    >
    <span
      class='
        translate-y-full opacity-0 transition-[opacity,translate]
        group-hocus:translate-y-0 group-hocus:opacity-100
      '
      aria-hidden='true'
    >
      {transformed}
    </span>
  </span>
  <DotsIcon class='absolute -bottom-3 -left-px' />
</span>
