---
import { cn } from 'tailwind-variants';

type Props = astroHTML.JSX.AnchorHTMLAttributes;
const { class: className, ...rest } = Astro.props;
---

<a
  target='_blank'
  rel='noopener noreferrer'
  class={cn(
    `
      group relative inline-flex bouncy-click rounded-xs text-primary underline
      underline-offset-3
      hover:bg-primary/20 hover:text-primary
      focus-visible:no-underline
    `,
    className,
  )}
  {...rest}
  ><slot />
</a>
