---
import { cn } from 'tailwind-variants';

import Button from '@/components/starwind/button';
import NewTabIndicator from '@/components/ui/NewTabIndicator.astro';

import ItemSummary from './ItemSummary.astro';

interface Props {
  name: string;
  description?: string;
  href: string;
  class?: string;
  size?: 'sm' | 'md';
}

const { name, description, href, class: className, size = 'md' } = Astro.props;
---

<Button
  variant='ghost'
  href={href}
  size={size}
  target='_blank'
  class={cn(
    'group h-auto w-full justify-start gap-3 p-3',
    size === 'sm' && 'p-2',
    className,
  )}
>
  <ItemSummary name={name} description={description}>
    <slot name='icon' slot='icon' />
  </ItemSummary>
  <NewTabIndicator />
</Button>
