---
import { cn } from 'tailwind-variants';

import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'h2'>;

const { class: className, ...props } = Astro.props;
---

<h2
  class={cn('mb-2 text-base font-bold text-muted-foreground', className)}
  {...props}
>
  <slot />
</h2>
