---
import ExternalLinkIcon from '@tabler/icons/outline/external-link.svg';
import { cn } from 'tailwind-variants';

import InlineLink from './InlineLink.astro';

type Props = astroHTML.JSX.AnchorHTMLAttributes;
const { class: className, ...rest } = Astro.props;
---

<InlineLink
  class={cn(
    'group -mx-0.5 w-fit cursor-pointer items-center gap-0.5 px-0.5 text-sm',
    className,
  )}
  {...rest}
>
  <span>
    <slot />
  </span>
  <ExternalLinkIcon class='size-4' />
</InlineLink>
